$babyblue: rgb(128, 128, 255);
$rosypink: rgb(255, 128, 128);
$mintgreen: rgb(128, 255, 128);
$orangecream: rgb(255, 208, 118);
$brown: rgb(200, 150, 150);
$eggshell: rgb(232, 232, 232);

// flower-bed stuff
$skyBlue: #d6fdff;
$magenta: #a817aa;
$purple: #9245ba;
$blue: #40afbf;
$green: #21b74b;
