@import '../_colors';
@import './_local-partial';
@import 'pretend-sass-thingy/stupid-vars';

:host {
  background-color: $babyblue;
  border-radius: $oneEm;
  padding-left: $pointFiveEm;

  &::after {
    background-color: $rosypink;
    content: $unsure;
    display: inline-block;
    width: $onePointFiveEm;
    text-align: $centerized;
  }
}
